<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ConfigurableProduct\Block\Adminhtml\Product\Edit\Button\Save" type="Demo\EditLock\Block\Adminhtml\Product\Edit\Button\Save" />
</config>
